.copy_right_footer {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
}
.h1 , h4
{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: normal;
}
#camera{
    width: 500px;
    height: 400px;
}
img{
    box-shadow: 0 6px 8px rgba(2, 2, 2, 0.2);
}
img:hover{
    border-radius:140px;
}